# From Author
results
checkpoints/*
*.npz
**/*.pyc
**/__pycache__
.vscode
test_data/0.npy
test_data/1.npy
test_data/2.npy
test_data/3.npy
test_data/4.npy
test_data/5.npy
test_data/6.npy
test_data/7.npy
test_data/8.npy
test_data/9.npy
test_data/10.npy
test_data/11.npy
test_data/12.npy
test_data/13.npy
test_data/bowl_1_1_17_depth.png
test_data/bowl_1_1_17_mask.png
test_data/bowl_1_1_17.png
test_data/bowl_1_4_50_mask.png
test_data/bowl_1_4_51_depth.png
test_data/bowl_1_4_51.png
test_data/bowl_1_4_133_depth.png
test_data/bowl_1_4_133_mask.png
test_data/bowl_1_4_133.png
test_data/bowl.npy
test_data/cup.npy
test_data/cup2.npy
test_data/cup3.npy
test_data/food_box_1_1_125_depth.png
test_data/food_box_1_1_125_mask.png
test_data/food_box_1_1_125.png
test_data/food_box_1_4_14_depth.png
test_data/food_box_1_4_14.png
test_data/food_box_1_4_105_depth.png
test_data/food_box_1_4_105_mask.png
test_data/food_box_1_4_105.png
test_data/image.npy
test_data/test.png
pointnet2/tf_ops/sampling/*
